html {
  font-size: 100%;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #111;
}

.developer {
  text-align: center;
  padding: 5rem;
  font-size: 13px;
  color: gray;
}

.developer a {
  text-decoration: none;
  color: rgb(193, 182, 182);
}

.developer a:hover {
  color: rgba(255, 0, 0, 0.658);
  transition: color 150ms ease-in-out;
}